{% load static %}
    <section id="experiencia" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              {% for e in experiencias %}
              <div class="item">
                <div class="testimonial-item">
                  <div class="info">
                    <h4>{{ e.cargo}} <br> {{ e.modalidade }}</a></h4>
                    <h4>{{ e.empresa }}</a></h4>
                    <h5>{{ e.periodoi }}</h5>
                    {% if e.periodof != none %}
                    <h5>{{ e.periodof }}</h5>
                    {% endif %}
                    {% if e.periodof == none %}
                    <h5>Atualmente</h5>
                    {% endif %}
                  </div>
                  <div class="content">
                    <p class="description">{{ e.atividades }}.</p>
                  </div>
                  <div class="social-icon">
                    <a class="facebook" href="{{ e.facebook }}" target="_blank"><i class="lni-facebook-filled"></i></a>
                    <a class="instagram" href="{{ e.instagram }}" target="_blank"><i class="lni-instagram-filled"></i></a>
                    <a class="linkedin" href="{{ e.linkedin }}" target="_blank"><i class="lni-linkedin-filled"></i></a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>