{% load static %}
<section id="sobre" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Me conheça um pouco</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
            {% for p in pessoas %}
            <!-- Team Item Starts -->
            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="team-img">
                <img class="img-fluid" src="{{ p.imagem.thumb.url}}"alt="">
              </div>
              <div class="contetn">
                <div class="info-text">
                  <h3><a>{{ p.nome }}</a></h3>
                  <p>{{ p.cargo }}</p>
                </div>
                <p>{{ p.bio }}.</p>
                <ul class="social-icons">
                  <li><a href="{{ p.facebook }}" target="_blank"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                  <li><a href="{{ p.linkedin }}" target="_blank"><i class="lni-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="{{ p.instagram }}" target="_blank"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                  <li><a href="{{ p.github }}" target="_blank"><i class="lni-github" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
            <!-- Team Item Ends -->
            {% endfor %}
          </div>
        </div>
      </div>
    </section>