{% load static %}
    <div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Curriculo online<br>Henrique Dias</h2>
                <p>Este site tem somente a função de demonstrar um pouco de meus conhecimentos!</p>
                <p>Sem fins lucrativos ou qualquer tipo de cobrança.</p>
                <div class="header-button">
                  <a href="https://api.whatsapp.com/send?phone=5519994589258" class="btn btn-border video-popup">Chame no whatsApp</i></a>
                  <a href="https://github.com/Hdlara" class="btn btn-common">Veja meus projetos pessoais</i></a>
<!--                  <a href="#" class="btn btn-border video-popup">Learn More</i></a>-->
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}"alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        {% if messages %}
          {% for m in messages %}
            <div class="alert alert-{{ m.tags }}">
              <button type="button" class="close" data-dismiss="alert"></button>
              <strong>{{ m }}</strong>
            </div>
          {% endfor%}
        {% endif %}
      </div>
</header>
    <!-- Header Area wrapper End -->